@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-white text-[1rem];
}

.menu li > :not(ul, .menu-title, details, .btn):hover,
.menu li > :not(ul, .menu-title, details, .btn):active,
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)):hover,
.menu li > details > summary:active {
  @apply bg-yellow-100 text-gray-900;
}

h1 {
  @apply leading-normal font-semibold text-5xl lg:text-7xl;
}

h2 {
  @apply text-4xl font-semibold;
}

p {
  @apply text-[1rem] leading-relaxed font-normal;
}

h1, h2, p {
  @apply text-center lg:text-start;
}

.slick-dots {
  display: flex !important;
  float: right !important;
  flex-direction: column !important;
  right: -40px !important;
  bottom: 45% !important;
  width: min-content !important;
}

/* For WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EA8F45;
}

/* For Firefox */
html,
html:hover {
  scrollbar-color: #EA8F45 #FFFD9E;
  scrollbar-width: initial;
}

